# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.

config ARCH
	string
	default "hexagon"

config HEXAGON_VM
	bool "Hexagon Virtual Machine support"
	default y
	help
	  Enable Hexagon Virtual Machine support. This provides VM
	  instructions for interrupt control, timer operations, and
	  memory management.

config HEXAGON_HW_THREADS
	int "Number of hardware threads"
	default 1
	range 1 6
	help
	  Number of hardware threads supported by the Hexagon core

menu "Hexagon Options"

config HEXAGON_VM_VERSION
	hex "Hexagon VM version"
	default 0x1
	help
	  Version of Hexagon VM interface to use

config HEXAGON_QEMU_SUPPORT
	bool "Enhanced QEMU support"
	default y if QEMU_TARGET
	help
	  Enable enhanced QEMU support with debugging and networking features.

endmenu

source "arch/hexagon/core/Kconfig"
