# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_HEXAGON

config SOC_FAMILY
	default "hexagon"

rsource "*/Kconfig.defconfig"

endif # SOC_FAMILY_HEXAGON
