# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

config HEXAGON_VM_ENTRY_ADDR
	hex "Entry address for VM guest"
	default 0x80000000
	help
	  Address where the Hexagon VM will load the guest kernel

config HEXAGON_SRAM_BASE_ADDRESS
	hex
	default 0x00000000

config HEXAGON_SRAM_SIZE
	int "SRAM size in KB"
	default 1024

config HEXAGON_FLASH_BASE_ADDRESS
	hex
	default 0x80000000

config HEXAGON_FLASH_SIZE
	int "Flash size in KB"
	default 16384
