# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

config BOARD_HEXAGON_SIM
	bool "Hexagon Simulator/QEMU"
	select SOC_SERIES_HEXAGON_V66
	select SOC_HEXAGON_V66
