# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_HEXAGON_V66
	bool "Hexagon V66 SoC series"

config SOC_SERIES
	string
	default "hexagon_v66" if SOC_SERIES_HEXAGON_V66

config SOC_HEXAGON_V66
	bool "Hexagon V66 SoC"
	select SOC_SERIES_HEXAGON_V66
	select HEXAGON

config SOC
	default "hexagon_v66" if SOC_HEXAGON_V66

config SOC_PART_NUMBER
	default "HEXAGON_V66" if SOC_HEXAGON_V66

config HEXAGON_FLASH_BASE_ADDRESS
	hex "Hexagon flash base address"
	default 0x80000000
	help
	  Base address of flash memory for Hexagon architecture.

config HEXAGON_FLASH_SIZE
	int "Hexagon flash size in KB"
	default 16384
	help
	  Size of flash memory in KB for Hexagon architecture.
